* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(122, 146, 214);
}

/*header {

}*/

nav {
    height: 75px;
    width: 91.52%;
    margin: 0 auto 0 auto;
    background-color: black;
}

footer {
    clear: both;
    background-color: black;
    height: 50px;
    width:91.52%;
    position: fixed;
    bottom: 0;
    left: 4.24%;
}

#container {
    width: 100%;
}








.column-left {
    float: left;
    width: 33.33%;
}

.column-left div {
    float: left;
    width: 33.33%;
    margin-left: 4.24%;
}

.column-mid {
        float: left;
        width: 33.33%;
}

.column-right {
    float: left;
    width: 33.33%;
}

.column-right div {
    position: relative;
    top: 30vh;
    margin-right: 4.24%;
}
