* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
}

/*header {

}*/

nav {
    height: 75px;
    width: 91.67%;
    margin: 0 auto 0 auto;
    background-color: black;
}

footer {
    clear: both;
    background-color: black;
    height: 50px;
    width:91.67%;
    position: fixed;
    bottom: 0;
    left: 4.16%;
}

#container {
    width: 100%;
}






.border {
    background-color: rgb(241, 241, 241);
    height: 2px;
    width: 91.67%;
    margin: 0 auto 0 auto;
    position: relative;
    top:25vh;
    border-radius: 85%;
}

.column-left {
    float: left;
    width: 33.33%;
    position:relative;
    top:30vh;
}

.column-left div {
    margin-left: 12.72%;
}

.column-mid {
    float: left;
    width: 33.33%;
    position:relative;
    top:30vh;
}

.column-right {
    float: left;
    width: 33.33%;
    position:relative;
    top:30vh;
}

.column-right div {
    margin-right: 12.72%;
}
